@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    flex-direction: column;
}
header{
    /* width: max-content; */
    width: 98.5%;
    height: 45px;
    padding:10px;
    display:flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    background-color: lightpink;
    z-index: 99 !important;
    margin-top: -2px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin:12.5px;
  }
  
  .toggle-icon {
    color: goldenrod;
  }
  
  .toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
  }
.search{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    font-family: inherit;
    padding: 5px 40px;
    margin:5px;
}
.search-btn{
    font-size: 20px;
    color:rgb(3, 192, 192);
    background-color:white;
    padding: 5px 10px;
    border:none;
    border-radius: 45% 45% 45% 45%;
    cursor: pointer;
}

#navbar {
    z-index: 100 !important;
    width: 190px;
    height: 100%;
    background-color: rgb(248, 225, 228);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: -2px;
    margin-left: -2px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
  }
  

nav{
    margin-bottom: 5px;
    display: inline;
}
.title{
    font-family: sans-serif;
    /* display: flex;
    align-items: center; */
    /* column-gap: 60px; */
    /* justify-content: space-between; */
    color: rgb(60, 1, 60);
    margin-left: 18px;
    width: 150px;
    padding: 7px;
    font-size:25px;
    display: block;
    /* height:40px; */
    margin-top: -10px;
    /* width: auto; */
    font-weight: bold;
    /* border-width: 4px;
    border-color: rgb(59, 59, 106);
    border-style: inset; */
    /* margin-bottom: 30px; */
}
#couch{
    /* margin-right: 5px;
    color:red; */
    font-size: 30px;
}
ul{
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    /* display: flex;
    align-items: center; */
    column-gap: 60px;
    justify-content: space-between;
    margin-top: 10px;
    /* margin: 30px; */
    width: 200px;
    font-size:15px;
}
li{
    display: block;
    height:40px;
    margin-left:20px;
    /* margin-top: 10px; */
    width: auto;
    font-weight: 500;
}
li:hover{
    color: rgb(57, 97, 97);
    cursor: pointer;
}
#add-btn{
    background-color: black;
    color:white;
    margin: 40px;
    font-size: 15px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* margin-left: 205px;
    margin-top: 80px; */
    padding-left: 205px;
    padding-top: 80px;
    min-height: 80vh;
}
.container .box{
    height: 350px;
    cursor: pointer;
    /* position: relative;
    object-fit: cover; */
}
.moviesDetails{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.leftDetails{
    font-family: "sofia", sans-serif;
    text-align: left;
    width: 140px;
    padding-left: 15px;
}

.leftDetails h5, .leftDetails p{
    text-align: left;
}
img{
    height: 250px;
    width: 180px;
    border-radius: 10px;
    /* text-align: bottom; */
    border: 1px solid white;
}
hr{
    margin: 10px 0;
}
/* i{
    visibility: none;
} */
.button{
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-left:200px;
}
#showMore{
    padding: 3px 5px;
    font-size: 20px;
    background: black;
    /* color: rgb(50, 50, 50); */
    color: white;
    /* border: none; */
    border-color: rgb(248, 225, 228);
    border-radius: 8px;
    cursor: pointer;
}
.box:hover {
    transform: scale(1.06);
}
.box{
    transition: all 0.4s ease-in-out;
    margin-bottom:10px;
}
.red{
    font-family: "sofia", sans-serif;
    text-align: right;
    border-width: 2px;
    /* border-color: rgb(59, 59, 106); */
    /* border-color: lightpink; */
    background-color: rgb(248, 225, 228);
    /* color:rgb(241, 72, 72); */
    color: red;
    font-weight: bold;
    border-style: inset;
    padding: 5px;
    border-radius: 50%;
    font-size: 15px;
}
.green{
    font-family: "sofia", sans-serif;
    text-align: right;
    border-width: 2px;
    /* border-color: lightpink; */
    background-color: rgb(248, 225, 228);
    /* color:rgb(51, 183, 51); */
    color: rgb(0, 108, 0);
    font-weight: bold;
    border-style: inset;
    padding: 5px;
    border-radius: 50%;
    font-size: 15px;
}
.orange{
    font-family: "sofia", sans-serif;
    text-align: right;
    border-width: 2px;
    /* border-color: lightpink; */
    background-color: rgb(248, 225, 228);
    /* color: rgb(252, 193, 84); */
    color: rgb(197, 128, 0);
    font-weight: bold;
    border-style: inset;
    padding: 5px;
    border-radius: 50%;
    font-size: 15px;
}
h3{
    margin-top: 0;
}

.overview{
    position:absolute;
    margin-right: 8px;
    left:0;
    /* right:0; */
    top: 0;
    font-size:7px;
    background-color: #fff;
    padding: 15px;
    /* max-height: 100%; */
    /* transition:transform 0.3s ease-in; */
}


a{
    color: black;
    text-decoration: none;
}
a.active{
    color: white;
}
body.active{
    color: white;
    background-color: black;
}

.container.active{
    background-color: black;
  }
  
.moviesDetails.active{
    color: white;
  }
  .leftDetails.active{
      color: white;
  }
#navbar.active{
    background-color: rgb(248, 88, 115);
    border-color: white;
}
header.active{
    background-color: rgb(254, 56, 89);
    border-color: white;
}
.search.active{
    border-color: white;
    background-color: lightgrey;
    color: white;
}
.search-btn.active{
    font-size: 20px;
    color:rgb(3, 192, 192);
    background-color:white;
    padding: 5px 10px;
    border:none;
    border-radius: 45% 45% 45% 45%;
    cursor: pointer;
}

.title.active{
    /* color: rgb(236, 181, 236); */
    color: rgb(46, 0, 46);
}

ul.active{
    color: white;
}
.overview.active{
    background-color: black;
}
#add-btn.active{
    background-color: rgb(248, 225, 228);
    color:black;
}
.button.active{
    background-color: black;
}
#showMore.active{
    background: rgb(248, 225, 228);
    /* color: rgb(50, 50, 50); */
    color: black;
    /* border: none; */
    border-color: rgb(248, 225, 228);
    border-radius: 8px;
    cursor: pointer;
}
  
  .toggle.active{
      background-color: black;
  }
  
  .toggle-ball.active{
      background-color: white;
      transform: translateX(-20px);
  }
